{% extends 'shared/layout.html' %}
{% load render_partial %}
{% load static %}
{% block title %}ویرایش اطلاعات پروفایل{% endblock %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    <!-- ======================= Top Breadcrubms ======================== -->
    <div class="gray py-3">
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb text-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home_page_view' %}">صفحه اصلی</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'user_panel_dashboard_page_view' %}">پنل
                                کاربری</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ویرایش اطلاعات پروفایل</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================= Top Breadcrubms ======================== -->
    <!-- ======================= Dashboard Detail ======================== -->
    <section class="middle">
        <div class="container">
            <div class="row align-items-start justify-content-between">
                {% render_partial 'user_panel.views.user_panel_menu_component' %}
                <div class="col-12 col-md-12 col-lg-8 col-xl-8">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <p class="card-header-flex text-center bg-light-info text-info border-bold">
                                لطفا در هنگام ویرایش اطلاعات خود دقت کافی را داشته باشید.
                                تمامی محصولات درخواستی شما با اطلاعاتی که شما در این بخش ثبت میکنید ارسال می گردد.
                            </p>
                        </div>
                        <br>
                        <div class="row align-items-center">
                            <form class="row m-0" enctype="multipart/form-data"
                                  action="{% url 'edit_profile_page_view' %}" method="post">
                                {% csrf_token %}
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group {% if form.first_name.errors %} text-danger{% endif %}">
                                        {{ form.first_name.label }}
                                        {{ form.first_name }}
                                        {{ form.first_name.errors }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group {% if form.last_name.errors %} text-danger{% endif %}">
                                        {{ form.last_name.label }}
                                        {{ form.last_name }}
                                        {{ form.last_name.errors }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group {% if form.avatar.errors %} text-danger{% endif %}">
                                        {{ form.avatar.label }}
                                        {{ form.avatar }}
                                        {{ form.avatar.errors }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group {% if form.phone_number.errors %} text-danger{% endif %}">
                                        {{ form.phone_number.label }}
                                        {{ form.phone_number }}
                                        {{ form.phone_number.errors }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="form-group {% if form.postal_code.errors %} text-danger{% endif %}">
                                        {{ form.postal_code.label }}
                                        {{ form.postal_code }}
                                        {{ form.postal_code.errors }}
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group {% if form.address.errors %} text-danger{% endif %}">
                                        {{ form.address.label }}
                                        {{ form.address }}
                                        {{ form.address.errors }}
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group {% if form.about_user.errors %} text-danger{% endif %}">
                                        {{ form.about_user.label }}
                                        {{ form.about_user }}
                                        {{ form.about_user.errors }}
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-dark">ویرایش اطلاعات</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================= Dashboard Detail End ======================== -->
{% endblock %}
<!-- =======================Start Content Page============================= -->