{% extends 'shared/layout.html' %}
{% load render_partial %}
{% load poll_extras %}
{% load date_time_tags %}
{% load static %}
{% block title %}لیست خرید های قبلی{% endblock %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    <!-- ======================= Top Breadcrubms ======================== -->
    <div class="gray py-3">
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb text-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home_page_view' %}">صفحه اصلی</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'user_panel_dashboard_page_view' %}">پنل
                                کاربری</a></li>
                            <li class="breadcrumb-item active" aria-current="page">لیست خرید های قبلی من</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================= Top Breadcrubms ======================== -->
    <!-- ======================= Dashboard Detail ======================== -->
    <section class="middle">
        <div class="container">
            <div class="row align-items-start justify-content-between">
                {% render_partial 'user_panel.views.user_panel_menu_component' %}
                <div class="col-12 col-md-12 col-lg-8 col-xl-8 text-center">
                    <!-- ======================= Single Order List ======================== -->
                    <div class="ord_list_wrap border mb-4 mfliud">
                        <div class="ord_list_head gray d-flex align-items-center justify-content-between px-3 py-3">
                            <div class="olh_flex">
                                <p class="m-0 p-0"><span class="text-muted">لیست خرید های قبلی</span></p>
                            </div>
                        </div>
                        {% for order in object_list %}
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                <div class="cart_single d-flex align-items-startmfliud-bot">
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                                        <p class="mb-1 p-0"><span class="text-dark">شناسه</span></p>
                                        <div class="delv_status">
                                        <span class="mb-0 ft-medium fs-sm text-warning">
                                           #00100{{ order.id }}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                                        <p class="mb-1 p-0"><span class="text-dark">تاریخ تایید فاکتور</span></p>
                                        <div class="delv_status">
                                        <span class="mb-0 ft-medium fs-sm text-info">
                                            {{ order.payment_date | to_date_format }}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                                        <p class="mb-1 p-0"><span class="text-dark">وضعیت</span></p>
                                        <div class="delv_status">
                                        <span class="ft-medium small text-success bg-light-success rounded px-3 py-1">
                                           در حال ارسال
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                                        <p class="mb-1 p-0"><span class="text-dark">قیمت نهایی خرید</span></p>
                                        <h6 class="mb-0 ft-medium fs-sm text-danger">
                                            {{ order.calculate_total_price | three_digits_currency }}
                                        </h6>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                                        <p class="mb-1 p-0"><span class="text-dark">نمایش</span></p>
                                        <div class="delv_status">
                                            <a href="{% url 'user_shopping_detail_page_view' order_id=order.id %}">
                                            <span class="ft-medium small text-info bg-light-info border-info rounded px-3 py-1">
                                           جزییات
                                        </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div><br><br>
                        {% endfor %}
                        <div class="pay-card mb-3">
                            <div class="card-head-last-flex">
                                <button class="border bg-light-danger text-danger p-3 circle d-inline-flex align-items-center justify-content-center">
                                    <i class="lni lni-heart-filled fs-lg"></i>
                                </button>
                                <p class="fs-sm ft-bold mb-0 text-warning">
                                    امیدواریم تجربه خرید خوبی برایتان فراهم کرده باشیم
                                </p>
                            </div>
                            <a class="btn-link text-dark ft-medium" href="{% url 'product_list_page_view' %}">
                                <i class="ti-back-left mr-2"></i>خرید دوباره
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================= Dashboard Detail End ======================== -->
{% endblock %}