{% extends 'shared/layout.html' %}
{% load render_partial %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="fa" dir="rtl">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Themezhub"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>صفحه پنل کاربری</title>
    </head>
    <body>
    <!-- ============Preloader - style you can find in spinners.css============ -->
    <div class="preloader"></div>
    <!-- ======================= Top Breadcrubms ======================== -->
    <div class="gray py-3">
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb text-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home_page_view' %}">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active" aria-current="page">پنل کاربری</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================= Top Breadcrubms ======================== -->
    <!-- ======================= Dashboard Detail ======================== -->
    <section class="middle">
        <div class="container">
            <div class="row align-items-start justify-content-between">
                {% render_partial 'user_panel.views.user_panel_menu_component' %}
                <div class="col-12 col-md-12 col-lg-8 col-xl-8 text-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="card-wrap gray rounded mb-4">
                            <div class="p-4 d-inline-flex align-items-center justify-content-center circle bg-light-success text-danger mx-auto mb-4">
                                <i class="lni lni-heart-filled fs-lg"></i>
                            </div>
                            <div class="card-wrap-body px-3 py-3">
                                <div class="pay-card mb-3">
                                    <h5 class="fs-sm ft-bold mb-0">{{ request.user.get_full_name }} عزیز</h5>
                                    <p>به پنل کاربری خود در فروشگاه لباس ریحانه خوش آمدید</p>
                                </div>
                                <div class="pay-card mb-3">
                                    <p class="fs-sm ft-bold mb-0 text-dark">مشتری عزیز، فروشگاه  ما هر روز برای ارائه خدمات بهتر به شما تلاش می کند، امیدواریم در آینده
                                        نیز از بازدید شما لذت ببریم تا بتوانیم دوباره آن را به شما ثابت کنیم.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================= Dashboard Detail End ======================== -->
    </body>
    </html>
{% endblock %}
<!-- =======================Start Content Page============================= -->