{% extends 'shared/layout.html' %}
{% load render_partial %}
{% load poll_extras %}
{% load date_time_tags %}
{% load date_convertor %}
{% load thumbnail %}
{% load static %}
{% block title %}لیست علاقه مندی ها{% endblock %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    <!-- ======================= Top Breadcrubms ======================== -->
    <div class="gray py-3">
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb text-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home_page_view' %}">صفحه اصلی</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'user_panel_dashboard_page_view' %}">پنل
                                کاربری</a></li>
                            <li class="breadcrumb-item active" aria-current="page">لیست علاقه مندی ها</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================= Top Breadcrubms ======================== -->
        <!-- ======================= Dashboard Detail ======================== -->
        <section class="middle">
            <div class="container">
                <div class="row justify-content-center justify-content-between">
{% render_partial 'user_panel.views.user_panel_menu_component' %}
                    <div class="col-12 col-md-12 col-lg-8 col-xl-8 text-center">
                        <div class="row align-items-center">
                            <!-- Single -->
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="product_grid card b-0">
                                    <div class="badge bg-success text-white position-absolute ft-regular ab-right  text-upper">پرفروش</div>
                                    <button class="btn btn_love position-absolute ab-left theme-cl"><i class="fas fa-times"></i></button>
                                    <div class="card-body p-0">
                                        <div class="shop_thumb position-relative">
                                            <a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img class="card-img-top" src="{% static 'img/product/1.jpg' %}" alt="..."></a>
                                            <div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
                                                <div class="edlio"><a href="#" data-toggle="modal" data-target="#quickview" class="text-white fs-sm ft-medium"><i class="fas fa-eye ml-1"></i>مشاهده سریع جزییات</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footers b-0 pt-3 px-2 bg-white d-flex align-items-start justify-content-center">
                                        <div class="text-left">
                                            <div class="text-center">
                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="shop-single-v1.html">نیم ست دویدن</a></h5>
                                                <div class="elis_rty"><span class="ft-bold fs-md text-dark">119000 تومان</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="product_grid card b-0">
                                    <div class="badge bg-info text-white position-absolute ft-regular ab-right  text-upper">جدید</div>
                                    <button class="btn btn_love position-absolute ab-left theme-cl"><i class="fas fa-times"></i></button>
                                    <div class="card-body p-0">
                                        <div class="shop_thumb position-relative">
                                            <a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img class="card-img-top" src="{% static 'img/product/2.jpg' %}" alt="..."></a>
                                            <div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
                                                <div class="edlio"><a href="#" data-toggle="modal" data-target="#quickview" class="text-white fs-sm ft-medium"><i class="fas fa-eye ml-1"></i>مشاهده سریع جزییات</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footers b-0 pt-3 px-2 bg-white d-flex align-items-start justify-content-center">
                                        <div class="text-left">
                                            <div class="text-center">
                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="shop-single-v1.html">
													مردانه رسمی</a></h5>
                                                <div class="elis_rty"><span class="text-muted ft-medium line-through ml-2">129000 تومان</span><span class="ft-bold theme-cl fs-md">79000 تومان</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="product_grid card b-0">
                                    <button class="btn btn_love position-absolute ab-left theme-cl"><i class="fas fa-times"></i></button>
                                    <div class="card-body p-0">
                                        <div class="shop_thumb position-relative">
                                            <a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img class="card-img-top" src="{% static 'img/product/3.jpg' %}" alt="..."></a>
                                            <div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
                                                <div class="edlio"><a href="#" data-toggle="modal" data-target="#quickview" class="text-white fs-sm ft-medium"><i class="fas fa-eye ml-1"></i>مشاهده سریع جزییات</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footers b-0 pt-3 px-2 bg-white d-flex align-items-start justify-content-center">
                                        <div class="text-left">
                                            <div class="text-center">
                                                <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="shop-single-v1.html">لباس دویدن نیمه</a></h5>
                                                <div class="elis_rty"><span class="ft-bold fs-md text-dark">80000 تومان</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======================= Dashboard Detail End ======================== -->
{% endblock %}