{% extends 'shared/layout.html' %}
{% load render_partial %}
{% load poll_extras %}
{% load date_time_tags %}
{% load date_convertor %}
{% load thumbnail %}
{% load static %}
{% block title %}لیست علاقه مندی ها{% endblock %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    <!-- ======================= Top Breadcrubms ======================== -->
    <div class="gray py-3">
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb text-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home_page_view' %}">صفحه اصلی</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'user_panel_dashboard_page_view' %}">پنل
                                کاربری</a></li>
                            <li class="breadcrumb-item active" aria-current="page">لیست علاقه مندی ها</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================= Top Breadcrubms ======================== -->
    <!-- ======================= Dashboard Detail ======================== -->
     {% include 'user_panel/include/wish-list-content.html' %}
    <!-- ======================= Dashboard Detail End ======================== -->
{% endblock %}