{% extends 'shared/layout.html' %}
{% load thumbnail %}
{% load date_time_tags %}
{% load static %}
{% block title %}لیست مقالات{% endblock %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    <!-- ======================= Top Breadcrubms ======================== -->
    <div class="gray py-3">
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb text-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home_page_view' %}">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active" aria-current="page">مقالات فروشگاه ریحانه</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================= Blog Start ============================ -->
    <section class="middle">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h2 class="off_title">آخرین مقالات</h2>
                        <h3 class="ft-bold pt-3">به روز رسانی های جدید</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for article in object_list %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="_blog_wrap">
                            <div class="_blog_thumb mb-2">
                                {% if article.image %}
                                    {% thumbnail article.image "550x367" quality=90 crop='center' as im %}
                                        <img class="img-fluid rounded" src="{{ im.url }}" alt="{{ article.title }}">
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="card-img-top" src="{% static 'img/default-blog.png' %}"
                                         alt="{{ article.title }}">
                                {% endif %}
                            </div>
                            <div class="_blog_caption">
                                <span class="text-muted text-md-left">{{ article.create_date|to_date_string_format }}
                                </span>
                                <h5 class="bl_title">
                                    <a href="{% url 'articles_detail_page_view' pk=article.pk %}">{{ article.title }}</a>
                                </h5>
                                <p class="text-secondary">{{ article.short_description }}
                                    <span>
                                        {% if article.author is not None %}
                                            <p class="text-dark"> نویسنده:{{ article.author }}</p>
                                        {% endif %}
                                    </span>
                                </p>
                                <span>
                                    <a href="{% url 'articles_detail_page_view' pk=article.id %}"
                                       class="text-dark fs-sm">ادامه مطلب...</a>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row center">
                <div class="col-xl-12 col-lg-12 col-md-12 text-center">
                    <ul class="pagination">
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                        {% endif %}
                        {% for pageNumber in paginator.page_range reversed %}
                            <li class="{% if page_obj.number == pageNumber %} active {% endif %}">
                                <a href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
                        {% endfor %}
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================= Blog End ============================ -->
{% endblock %}

