{% load static %}
<!-- ======================= Dashboard Detail ======================== -->
<div class="col-12 col-md-12 col-lg-4 col-xl-4 text-center miliods mb-3 mb-lg-0">
    <div class="d-block border rounded">
        <div class="dashboard_author px-2 py-5">
            <div class="dash_auth_thumb circle p-1 border d-inline-flex mx-auto mb-2">
                <img src="{% static 'img/team-1.jpg' %}" class="img-fluid circle" width="100" alt=""/>
            </div>
            <div class="dash_caption">
                <h4 class="fs-md ft-medium mb-0 lh-1">رضا حسنی</h4>
                <span class="text-muted smalls">تهران</span>
            </div>
        </div>

        <div class="dashboard_author">
            <h4 class="px-3 py-2 mb-0 lh-2 gray fs-sm ft-medium text-muted text-uppercase text-right">
                پنل کاربری</h4>
            <ul class="dahs_navbar">
                <li><a href="my-orders.html" class="active"><i class="lni lni-shopping-basket ml-2"></i>سفارش
                    های من</a></li>
                <li><a href="wishlist.html"><i class="lni lni-heart ml-2"></i>لیست علاقه مندی ها</a>
                </li>
                <li><a href="profile-info.html"><i class="lni lni-user ml-2"></i>اطلاعات پروفایل</a>
                </li>
                <li><a href="payment-methode.html"><i class="lni lni-mastercard ml-2"></i>روش های پرداخت</a>
                </li>
                <li><a href="login.html"><i class="lni lni-power-switch ml-2"></i>خروج</a></li>
            </ul>
        </div>
    </div>
</div>
