{% load thumbnail %}
{% load poll_extras %}
{% load static %}
<!-- =============================Single Product============================= -->
<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
    <div class="product_grid card b-0">
        <div class="badge bg-success text-white position-absolute ft-regular ab-right  text-upper">
            {{ product.brand }}
        </div>
        <a href="#">
            <button class="snackbar-wishlist btn btn_love position-absolute ab-left">
                <i class="far fa-heart"></i>
            </button>
        </a>
        <div class="card-body p-0">
            <div class="shop_thumb position-relative">
                <a class="card-img-top d-block overflow-hidden ovr-hide"
                   href="{% url 'product_detail_page_view' slug=product.slug %}">
                    {% if product.front_image %}
                        {% thumbnail product.front_image "265x396" quality=90 crop='center' as im %}
                            <img class="card-img-top" src="{{ im.url }}" alt="{{ product.title }}">
                        {% endthumbnail %}
                    {% else %}
                        <img class="card-img-top" src="{% static 'img/product/default-product.jpg' %}"
                             alt="{{ product.title }}"></a>
                    {% endif %}
                <a class="card-img-top d-block overflow-hidden ovr-show"
                   href="{% url 'product_detail_page_view' slug=product.slug %}">
                    {% if product.back_image %}
                        {% thumbnail product.back_image "265x396" quality=90 crop='center' as im %}
                            <img class="card-img-top" src="{{ im.url }}" alt="{{ product.title }}">
                        {% endthumbnail %}
                    {% else %}
                        <img class="card-img-top" src="{% static 'img/product/default-product.jpg' %}"
                             alt="{{ product.title }}"></a>
                    {% endif %}
                <div class="product-hover-overlay btn d-flex align-items-center justify-content-center">
                    <div class="group_btn">
                        <a href="#{{ product.slug }}" data-toggle="modal" data-target="#{{ product.slug }}"
                           class="prd_btn_square"><i class="ti-fullscreen"></i></a>
                        <a href="#" class="prd_btn_square"
                           data-toggle="tooltip"
                           data-placement="top" title="علاقه مندی">
                            <i class="lni lni-heart"></i></a>
                        <a href="{% url 'user_basket_page_view' %}" class="prd_btn_square" data-toggle="tooltip"
                           data-placement="top" title="افزودن به سبد خرید"
                           onclick="addProductToOrder({{ product.id }})">
                            <i class="lni lni-shopping-basket"></i></a>
                        <a href="javascript:void(0);" class="prd_btn_square" data-toggle="tooltip"
                           data-placement="top" title="مقایسه"><i class="lni lni-shuffle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
            <div class="text-left">
                <div class="text-center">
                    <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1">
                        <a href="{% url 'product_detail_page_view' slug=product.slug %}">{{ product.title }}</a>
                    </h5>
                    <div class="elis_rty"><span
                            class="text-muted ft-medium line-through ml-2">129,000 تومان</span><span
                            class="ft-bold theme-cl fs-md">{{ product.price | three_digits_currency }}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
