{% extends 'shared/layout.html' %}
{% load render_partial %}
{% load static %}
{% block title %}لیست محصولات{% endblock %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    <!-- =============Main wrapper - style you can find in pages.scss=================== -->
    <div id="main-wrapper">
        <div class="clearfix"></div>
        <!-- =======================Start Shop Style 1 ======================== -->
        <section class="bg-cover" style="background:url({% static 'img/banner-5.png' %}) no-repeat;">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="text-center py-5 mt-3 mb-3">
                            <h1 class="ft-medium mb-3">فروشگاه ریحانه</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================End Shop Style 1 ======================== -->
        <!-- =======================Start Filter Wrap Style 1 ======================== -->
        <section class="py-2 br-bottom br-top">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
                        <nav aria-label="breadcrumb text-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home_page_view' %}">صفحه اصلی</a></li>
                                <li class="breadcrumb-item active" aria-current="page">فروشگاه</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12">
                        <div class="filter_wraps elspo_wrap d-flex align-items-center justify-content-end">
                            <div class="single_fitres elspo_filter ml-2 br-left">
                                <a href="#filterBox" class="simple-button px-2" data-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="filterBox"><i
                                        class="lni lni-text-align-left ml-2"></i><span
                                        class="hide_mob">فیلترها</span></a>
                            </div>
                            <div class="single_fitres ml-2 br-left">
                                <form method="get">
                                    <select class="custom-select simple" name="sort">
                                        <option value="1" {% if request.GET.sort == '1' %}selected{% endif %}>مرتب سازی
                                            پیش فرض
                                        </option>
                                        <option value="2" {% if request.GET.sort == '2' %}selected{% endif %}>مرتب سازی
                                            براساس قیمت صعودی
                                        </option>
                                        <option value="3" {% if request.GET.sort == '3' %}selected{% endif %}>مرتب سازی
                                            براساس قیمت نزولی
                                        </option>
                                        <option value="4" {% if request.GET.sort == '4' %}selected{% endif %}>مرتب سازی
                                            براساس جدیدترین ها
                                        </option>
                                        <option value="5" {% if request.GET.sort == '5' %}selected{% endif %}>مرتب سازی
                                            براساس پرفروش ترین ها
                                        </option>
                                        <option value="6" {% if request.GET.sort == '6' %}selected{% endif %}>بصورت
                                            تصادفی
                                        </option>
                                    </select>
                                    <input type="submit" value="مرتب کن">
                                </form>
                            </div>
                            <div class="single_fitres">
                                <a href="{% url 'product_list_page_view' %}" class="simple-button mr-1 active"><i
                                        class="ti-layout-grid3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="collapse" id="filterBox">
                            <div class="card py-3 b-0">
                                <div class="row">
                                    <!-- =======================Choose Category======================= -->
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                                        <div class="single_filter_title mb-2">
                                            <h6 class="mb-0 fs-sm ft-medium text-muted">انتخاب دسته بندی</h6>
                                        </div>
                                        <div>
                                            {% for main_category in product_categories %}
                                                {% if main_category.product_categories.all %}
                                                    <h5 class="mb-0 fs-sm ft-medium text-muted text-secondary">
                                                        <a href="{% url 'product_list_by_category' category=main_category.url_title %}">
                                                            {{ main_category.title }}</a>
                                                    </h5>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- =======================Choose Category======================= -->
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                                        <div class="single_filter_title mb-2">
                                            <h6 class="mb-0 fs-sm ft-medium text-muted">انتخاب برند</h6>
                                        </div>
                                        <div>
                                            {% for brand in brand_categories %}
                                                <h5 class="mb-0 fs-sm ft-medium text-muted text-secondary">
                                                    <a href="{% url 'product_list_by_brands' brand=brand.url_title %}">
                                                        {{ brand.title }}
                                                        <span class="mb-0 fs-sm ft-medium text-danger fa-pull-left">
                                                            ({{ brand.products_count }})</span></a>
                                                </h5>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- =======================Choose Category======================= -->
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                        <div class="single_filter_title mb-2">
                                            <h6 class="mb-0 fs-sm ft-medium text-muted">انتخاب سایز</h6>
                                        </div>
                                        {% for size in size_categories %}
                                            <div class="form-check form-option form-check-inline mb-2">
                                                <a href="{% url 'product_list_by_size' size=size.url_title %}">
                                                    <input class="form-check-input" type="radio" name="size">
                                                    <label class="form-option-label">{{ size.title }}</label>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- =======================Choose Category======================= -->
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                        <div class="single_filter_title mb-2">
                                            <h6 class="mb-0 fs-sm ft-medium text-muted">انتخاب رنگ</h6>
                                        </div>
                                        <div class="text-center">
                                            {% for color in color_categories %}
                                                <div class="form-check form-option form-check-inline mb-1">
                                                    <a href="{% url 'product_list_by_color' color=color.url_title %}">
                                                        <input class="form-check-input" type="radio" name="colora8">
                                                        <label class="form-option-label rounded-circle">
                                                            <span class="form-option-color small">{{ color.title }}</span>
                                                        </label>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- =======================Choose Category======================= -->
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                                        <div class="single_filter_title mb-2">
                                            <h6 class="mb-0 fs-sm ft-medium text-muted">فیلتر براساس قیمت</h6>
                                        </div>
                                        <div class="side-list mb-2" dir="ltr">
                                            <div class="rg-slider">
                                                <input type="text" class="js-range-slider" name="my_range" value=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =============================End Filter Wrap ============================== -->
        <!-- =======================Start All Product List ======================== -->
        <section class="middle">
            <div class="container">
                <!-- =============================Row============================== -->
                <div class="row align-items-center rows-products">
                    {% for product in products %}
                        {% include 'product/include/products-item-component.html' with product=product %}
                        {% include 'shared/modal-product.html' with product=product %}
                    {% endfor %}
                    <!-- =============================Row============================= -->
                </div>
                <div class="row center">
                    <div class="col-xl-12 col-lg-12 col-md-12 text-center">
                        <ul class="pagination">
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                            {% endif %}
                            {% for pageNumber in paginator.page_range reversed %}
                                <li class="{% if page_obj.number == pageNumber %} active {% endif %}">
                                    <a href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>
                            {% endfor %}
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
