{% extends 'shared/layout.html' %}
{% load static %}
{% load thumbnail %}
{% load poll_extras %}
{% load date_time_tags %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    <!DOCTYPE html>
    <html lang="en" dir="rtl">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Themezhub"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>صفحه جزییات محصول</title>
    </head>
    <body>
    <!-- =========Preloader - style you can find in spinners.css================= -->
    <div class="preloader"></div>
    <!-- ==========Main wrapper - style you can find in pages.scss===================== -->
    <div id="main-wrapper">
        <!-- =======================Start Product Detail ======================== -->
        <section class="middle">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="sp-loading">
                            <img src="{% static 'img/product/default-product.jpg' %}" alt="{{ product.title }}">
                            <br> در حال بارگذاری تصاویر
                        </div>
                        {% for group in product_galleries_group %}
                            <div class="sp-wrap mb-3 {% if forloop.first %}active{% endif %}">
                                {% for gallery in group %}
                                    {% thumbnail gallery.image "620x780" quality=90 crop='center' as im %}
                                        <a href="{{ gallery.image.url }}">
                                            <img src="{{ im.url }}" alt="{{ product.title }}">
                                        </a>
                                    {% endthumbnail %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="prd_details">
                            <div class="prt_01 mb-1"><span class="text-light bg-info rounded px-2 py-1">
                                لباس</span></div>
                            <div class="prt_02 mb-3">
                                <h2 class="ft-bold mb-1">{{ product.title }}</h2>
                                <div class="text-right">
                                    <div class="elis_rty"><span class="ft-medium text-muted line-through fs-md ml-2">
                                        199000تومان</span>
                                        <span class="ft-bold theme-cl fs-lg ml-2">{{ product.price | three_digits_currency }}</span>
                                        <span class="ft-regular text-light bg-success py-1 px-2 fs-sm"> موجود در انبار</span>
                                    </div>
                                </div>
                            </div>
                            <div class="prt_03 mb-4">
                                <p><span class="text-bold text-dark">توضیحات: </span>{{ product.description }}</p>
                            </div>
                            <div class="prt_04 mb-2">
                                <p class="d-flex align-items-center mb-0 text-dark ft-medium">رنگ :</p>
                                <div class="text-right">
                                    <div class="form-check form-option form-check-inline mb-1">
                                        <input class="form-check-input" type="radio" name="color8" id="white8">
                                        <label class="form-option-label rounded-circle" for="white8"><span
                                                class="form-option-color rounded-circle blc7"></span></label>
                                    </div>
                                    <div class="form-check form-option form-check-inline mb-1">
                                        <input class="form-check-input" type="radio" name="color8" id="blue8">
                                        <label class="form-option-label rounded-circle" for="blue8"><span
                                                class="form-option-color rounded-circle blc2"></span></label>
                                    </div>
                                    <div class="form-check form-option form-check-inline mb-1">
                                        <input class="form-check-input" type="radio" name="color8" id="yellow8">
                                        <label class="form-option-label rounded-circle" for="yellow8"><span
                                                class="form-option-color rounded-circle blc5"></span></label>
                                    </div>
                                    <div class="form-check form-option form-check-inline mb-1">
                                        <input class="form-check-input" type="radio" name="color8" id="pink8">
                                        <label class="form-option-label rounded-circle" for="pink8"><span
                                                class="form-option-color rounded-circle blc3"></span></label>
                                    </div>
                                    <div class="form-check form-option form-check-inline mb-1">
                                        <input class="form-check-input" type="radio" name="color8" id="red">
                                        <label class="form-option-label rounded-circle" for="red"><span
                                                class="form-option-color rounded-circle blc4"></span></label>
                                    </div>
                                    <div class="form-check form-option form-check-inline mb-1">
                                        <input class="form-check-input" type="radio" name="color8" id="green">
                                        <label class="form-option-label rounded-circle" for="green"><span
                                                class="form-option-color rounded-circle blc6"></span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="prt_04 mb-4">
                                <p class="d-flex align-items-center mb-0 text-dark ft-medium">سایز :</p>
                                <div class="text-right pb-0 pt-2">
                                    <div class="form-check size-option form-option form-check-inline mb-2">
                                        <input class="form-check-input" type="radio" name="size" id="28" checked="">
                                        <label class="form-option-label" for="28">28</label>
                                    </div>
                                    <div class="form-check form-option size-option  form-check-inline mb-2">
                                        <input class="form-check-input" type="radio" name="size" id="32">
                                        <label class="form-option-label" for="32">32</label>
                                    </div>
                                    <div class="form-check form-option size-option  form-check-inline mb-2">
                                        <input class="form-check-input" type="radio" name="size" id="36">
                                        <label class="form-option-label" for="36">36</label>
                                    </div>
                                    <div class="form-check form-option size-option  form-check-inline mb-2">
                                        <input class="form-check-input" type="radio" name="size" id="42">
                                        <label class="form-option-label" for="42">42</label>
                                    </div>
                                    <div class="form-check form-option size-option  form-check-inline mb-2">
                                        <input class="form-check-input" type="radio" name="size" id="44">
                                        <label class="form-option-label" for="44">44</label>
                                    </div>
                                </div>
                            </div>
                            <!-- ========================Quantity================== -->
                            <div class="prt_04 mb-4">
                                <div class="text-right pb-0 pt-2">
                                    <label class="text-dark">تعداد محصول:</label>
                                    <input type="number" min="1" value="1" class="form-option-label" id="product-count">
                                </div>
                            </div>
                            <div class="prt_05 mb-4">
                                <div class="form-row mb-7">
                                    <div class="col-12 col-lg">
                                        <a href="{% url 'user_basket_page_view' %}">
                                            <!-- ======================= Submit ===================== -->
                                            <button type="submit" class="btn btn-block custom-height bg-dark mb-2"
                                                    onclick="addProductToOrder({{ product.id }})">
                                                <i class="lni lni-shopping-basket ml-2"></i>افزودن به سبد خرید
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======================= Product Detail End ======================== -->
        <!-- =======================Start Product Description ======================= -->
        <section class="middle" id="comments_area">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12">
                        <ul class="nav nav-tabs b-0 d-flex align-items-center justify-content-center simple_tab_links mb-4 p-0"
                            id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="description-tab" href="#description" data-toggle="tab"
                                   role="tab" aria-controls="description" aria-selected="true">توضیحات</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#information" id="information-tab" data-toggle="tab"
                                   role="tab" aria-controls="information" aria-selected="false">اطلاعات تکمیلی</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#reviews" id="reviews-tab" data-toggle="tab" role="tab"
                                   aria-controls="reviews" aria-selected="false">دیدگاه ها({{ comments_count }})</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <!-- ======================= Description Content ===================== -->
                            <div class="tab-pane fade show active" id="description" role="tabpanel"
                                 aria-labelledby="description-tab">
                                <div class="description_info">
                                    <p class="p-0 mb-2">{{ product.description }}</p>
                                </div>
                            </div>
                            <!-- ======================= Additional Content ===================== -->
                            <div class="tab-pane fade" id="information" role="tabpanel"
                                 aria-labelledby="information-tab">
                                <div class="additionals">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th class="ft-medium text-dark text-right">آیدی</th>
                                            <td>
                                                {% if product.pk %}
                                                    #{{ product.pk }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="ft-medium text-dark text-right">برند</th>
                                            <td>
                                                {% if product.brand %}
                                                    {{ product.brand.title }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="ft-medium text-dark text-right">رنگ</th>
                                            <td>
                                                {% if product.color %}
                                                    {{ product.color.title }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="ft-medium text-dark text-right">سایز</th>
                                            <td>
                                                {% if product.size %}
                                                    {{ product.size.title }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- ======================= Reviews Content ===================== -->
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="reviews_info">
                                    {% for comment in comments %}
                                        <!-- ======================= Single Review ===================== -->
                                        <div class="single_rev d-flex align-items-start br-bottom py-3">
                                            <div class="single_rev_thumb"><img src="{% static 'img/team-2.jpg' %}"
                                                                               class="img-fluid circle" width="90"
                                                                               alt=""/>
                                            </div>
                                            <div class="single_rev_caption d-flex align-items-start pr-3">
                                                <div class="single_capt_left">
                                                    <h5 class="mb-0 fs-md ft-medium lh-1">{{ comment.user }}</h5>
                                                    <span class="small">{{ comment.create_date | to_date_string_format }}</span>
                                                    <p>{{ comment.text }}</p>
                                                    <a class=" btn single_capt_right ft-medium small text-warning 
                                                    bg-light-warning rounded px-3 py-1"
                                                       onclick="fillParentId({{ comment.id }})">
                                                        <i class="fa fa-reply"></i>پاسـخ</a>
                                                </div>
                                                <div class="single_capt_right">
                                                    <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                                        {% for score in comments %}
                                                            <i class="fas fa-star filled"></i>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% for sub_comment in comment.productcomment_set.all %}
                                            <div class="single_rev d-flex align-items-start br-bottom py-3"
                                                 id="single_comment_box_{{ comment.id }}">
                                                <div class="single_rev_thumb"><img src="{% static 'img/team-2.jpg' %}"
                                                                                   class="img-fluid circle" width="75"
                                                                                   alt=""/>
                                                </div>
                                                <div class="single_rev_caption d-flex align-items-start pr-3">
                                                    <div class="single_capt_left">
                                                        <h5 class="mb-0 fs-md ft-medium lh-1">{{ sub_comment.user }}</h5>
                                                        <span class="small">{{ sub_comment.create_date | to_date_string_format }}</span>
                                                        <p>{{ sub_comment.text }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="reviews_rate" id="comment_form">
                                    {% if request.user.is_authenticated %}
                                        <form class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                <h4>ارسال دیدگاه و امتیاز</h4>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                <div class="revie_stars d-flex align-items-center justify-content-between px-2 py-2 gray rounded mb-2 mt-1">
                                                    <div class="srt_013">
                                                        <div class="submit-rating" id="productScore">
                                                            <input id="star-5" type="radio" name="rating"
                                                                   value="star-5"/>
                                                            <label for="star-5" title="5 stars">
                                                                <i class="active fa fa-star" aria-hidden="true"></i>
                                                            </label>
                                                            <input id="star-4" type="radio" name="rating"
                                                                   value="star-4"/>
                                                            <label for="star-4" title="4 stars">
                                                                <i class="active fa fa-star" aria-hidden="true"></i>
                                                            </label>
                                                            <input id="star-3" type="radio" name="rating"
                                                                   value="star-3"/>
                                                            <label for="star-3" title="3 stars">
                                                                <i class="active fa fa-star" aria-hidden="true"></i>
                                                            </label>
                                                            <input id="star-2" type="radio" name="rating"
                                                                   value="star-2"/>
                                                            <label for="star-2" title="2 stars">
                                                                <i class="active fa fa-star" aria-hidden="true"></i>
                                                            </label>
                                                            <input id="star-1" type="radio" name="rating"
                                                                   value="star-1"/>
                                                            <label for="star-1" title="1 star">
                                                                <i class="active fa fa-star" aria-hidden="true"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="srt_014">
                                                        <h6 class="mb-0">امتیاز شما به محصول</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <input type="hidden" id="parent_id" value="">
                                                    <label class="medium text-dark ft-medium">متن دیدگاه</label>
                                                    <textarea class="form-control" id="commentText"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group m-0">
                                                    <a class="btn btn-white stretched-link hover-black"
                                                       onclick="sendProductComment({{ product.id }})">ارسال دیدگاه</a>
                                                </div>
                                            </div>
                                        </form>
                                    {% else %}
                                        <div class="alert alert-warning">
                                            برای درج نظر می بایست <a href="{% url 'login_page_view' %}">لاگین</a> کنید
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======================= Product Description End ==================== -->
        <!-- =======================Start Similar Products Start ============================ -->
        <section class="middle pt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="sec_title position-relative text-center">
                            <h2 class="off_title">محصولات مشابه</h2>
                            <h3 class="ft-bold pt-3">محصول معادل</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="slide_items">
                            <!-- =======================single Item====================== -->
                            {% for group in related_products %}
                                {% for product in group %}
                                    <div class="single_itesm">
                                        <div class="product_grid card b-0 mb-0">
                                            <div class="badge bg-success text-white position-absolute ft-regular ab-right  text-upper">
                                                {{ product.brand.title }}
                                            </div>
                                            <button class="snackbar-wishlist btn btn_love position-absolute ab-left">
                                                <i class="far fa-heart"></i>
                                            </button>
                                            <div class="card-body p-0">
                                                <div class="shop_thumb position-relative">
                                                    <a class="card-img-top d-block overflow-hidden"
                                                       href="{% url 'product_detail_page_view' slug=product.slug %}">
                                                        {% thumbnail product.front_image "420x550" quality=90 crop='center' as im %}
                                                            <img class="card-img-top" src="{{ im.url }}"
                                                                 alt="{{ product.title }}">
                                                        {% endthumbnail %}
                                                    </a>
                                                    <div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
                                                        <div class="edlio">
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#{{ product.slug }}"
                                                               class="text-white fs-sm ft-medium">
                                                                <i class="fas fa-eye ml-1"></i>مشاهده سریع جزییات</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer b-0 p-3 pb-0 d-flex align-items-start justify-content-center">
                                                <div class="text-left">
                                                    <div class="text-center">
                                                        <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a
                                                                href="{% url 'product_detail_page_view' slug=product.slug %}">{{ product.title }}</a>
                                                        </h5>
                                                        <div class="elis_rty"><span
                                                                class="ft-bold fs-md text-dark">{{ product.price|three_digits_currency }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======================= Product View Modal ======================== -->
        {% for product in main_product %}
            {% include 'shared/modal-product.html' with product=product %}
        {% endfor %}
    </div>
    <!-- =========================SweetAlert Jquery========================== -->
    <script>
        function addProductToOrder(productId) {
            const productCount = $('#product-count').val();
            $.get('/cart/add-to-cart?product_id=' + productId + '&count=' + productCount).then(res => {
                Swal.fire({
                    title: 'اعلان',
                    text: res.text,
                    icon: res.icon,
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: res.confirm_button_text
                }).then((result) => {
                    if (result.isConfirmed && res.status === 'not_auth') {
                        window.location.href = '/login';
                    }
                });
            });
        }
    </script>
    </body>
    </html>
{% endblock %}