{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/slider-bg.js' %}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>
<script src="{% static 'js/smoothproducts.js' %}"></script>
<script src="{% static 'js/snackbar.min.js' %}"></script>
<script src="{% static 'js/jQuery.style.switcher.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/custom-me.js' %}"></script>