{% load layout_items %}
{% load static %}
<!-- =======================Search =========================== -->
<div class="w3-ch-sideBar w3-bar-block w3-card-2 w3-animate-right" style="display:none;left:0;" id="Search">
    <div class="rightMenu-scroll">
        <div class="d-flex align-items-center justify-content-between slide-head py-3 px-3">
            <h4 class="cart_heading fs-md ft-medium mb-0">جستجوی محصول</h4>
            <button onclick="closeSearch()" class="close_slide"><i class="ti-close"></i></button>
        </div>
        <div class="cart_action px-3 py-4" id="searchForm">
            <form class="form m-0 p-0">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="جستجوی محصول"/>
                </div>
                <div class="form-group mb-0">
                    <button type="submit" class="btn d-block full-width btn-dark">جستجوی محصول</button>
                </div>
            </form>
        </div>
        <div class="cart_action px-3 py-4">
            <h4 class="text-center">به فروشگاه لباس ریحانه خوش آمدید!</h4>
            <p class="text-center">فروشگاه لباس ما یک دنیای جذاب از مد و استایل برای شما فراهم کرده است. با افتخار به عنوان یکی از پیشروهای
                صنعت لباس، ما به شما تجربه خریدی منحصر به فرد و فوق‌العاده را ارائه می‌دهیم.</p>
            <h4 class="text-center">محصولات متنوع و با کیفیت</h4>
            <p class="text-center">در فروشگاه ما، انواع و اقسام لباس‌ها برای هر سلیقه و سبک زندگی در دسترس است. از بروزترین ها گرفته تا
                کلاسیک‌ ترین طراحی‌ها، همه در اینجا به شما پیشنهاد می‌شود. ما به دنبال ارائه لباس‌های با کیفیت بالا و
                جذاب برای هر فصل و مناسبت هستیم.</p>
        </div>
    </div>
</div>
<!-- =====================This page plugins======================== -->
<script>
    function openSearch() {
        document.getElementById("Search").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("Search").style.display = "none";
    }
</script>
