{% load layout_items %}
{% load static %}
<!-- =======================Search =========================== -->
<div class="w3-ch-sideBar w3-bar-block w3-card-2 w3-animate-right" style="display:none;left:0;" id="Search">
    <div class="rightMenu-scroll">
        <div class="d-flex align-items-center justify-content-between slide-head py-3 px-3">
            <h4 class="cart_heading fs-md ft-medium mb-0">جستجوی محصول</h4>
            <button onclick="closeSearch()" class="close_slide"><i class="ti-close"></i></button>
        </div>
        <div class="cart_action px-3 py-4">
            <form class="form m-0 p-0">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="کلمه کلیدی محصول..."/>
                </div>
                <div class="form-group">
                    <select class="custom-select">
                        <option value="1" selected="">انتخاب دسته بندی</option>
                        <option value="2">فروشگاه مردانه</option>
                        <option value="3">فروشگاه زنانه</option>
                        <option value="4">فروشگاه پسرانه</option>
                        <option value="5">فروشگاه دخترانه</option>
                    </select>
                </div>
                <div class="form-group mb-0">
                    <button type="button" class="btn d-block full-width btn-dark">جستجوی محصول</button>
                </div>
            </form>
        </div>
        <div class="d-flex align-items-center justify-content-center br-top br-bottom py-2 px-3">
            <h4 class="cart_heading fs-md mb-0">دسته بندی های محبوب</h4>
        </div>
        <div class="cart_action px-3 py-3">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 mb-3">
                    <div class="cats_side_wrap text-center">
                        <div class="sl_cat_01">
                            <div class="d-inline-flex align-items-center justify-content-center p-3 circle mb-2 gray">
                                <a href="javascript:void(0);" class="d-block"><img
                                        src="{% static 'img/tshirt.png' %}" class="img-fluid" width="40"
                                        alt=""/></a>
                            </div>
                        </div>
                        <div class="sl_cat_02">
                            <h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">تیشرت</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 mb-3">
                    <div class="cats_side_wrap text-center">
                        <div class="sl_cat_01">
                            <div class="d-inline-flex align-items-center justify-content-center p-3 circle mb-2 gray">
                                <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/pant.png' %}"
                                                                                   class="img-fluid" width="40"
                                                                                   alt=""/></a>
                            </div>
                        </div>
                        <div class="sl_cat_02">
                            <h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">شلوار</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 mb-3">
                    <div class="cats_side_wrap text-center">
                        <div class="sl_cat_01">
                            <div class="d-inline-flex align-items-center justify-content-center p-3 circle mb-2 gray">
                                <a href="javascript:void(0);" class="d-block"><img
                                        src="{% static 'img/fashion.png' %}" class="img-fluid" width="40"
                                        alt=""/></a>
                            </div>
                        </div>
                        <div class="sl_cat_02">
                            <h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">پیراهن</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 mb-3">
                    <div class="cats_side_wrap text-center">
                        <div class="sl_cat_01">
                            <div class="d-inline-flex align-items-center justify-content-center p-3 circle mb-2 gray">
                                <a href="javascript:void(0);" class="d-block"><img
                                        src="{% static 'img/sneakers.png' %}" class="img-fluid" width="40" alt=""/></a>
                            </div>
                        </div>
                        <div class="sl_cat_02">
                            <h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">کفش</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 mb-3">
                    <div class="cats_side_wrap text-center">
                        <div class="sl_cat_01">
                            <div class="d-inline-flex align-items-center justify-content-center p-3 circle mb-2 gray">
                                <a href="javascript:void(0);" class="d-block"><img
                                        src="{% static 'img/fashion.png' %}" class="img-fluid" width="40"
                                        alt=""/></a>
                            </div>
                        </div>
                        <div class="sl_cat_02">
                            <h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">لباس مجلسی</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 mb-3">
                    <div class="cats_side_wrap text-center">
                        <div class="sl_cat_01">
                            <div class="d-inline-flex align-items-center justify-content-center p-3 circle mb-2 gray">
                                <a href="javascript:void(0);" class="d-block"><img
                                        src="{% static 'img/accessories.png' %}" class="img-fluid" width="40"
                                        alt=""/></a>
                            </div>
                        </div>
                        <div class="sl_cat_02">
                            <h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">اکسسوری</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =====================This page plugins======================== -->
<script>
    function openSearch() {
        document.getElementById("Search").style.display = "block";
    }

    function closeSearch() {
        document.getElementById("Search").style.display = "none";
    }
</script>