{% extends 'shared/layout.html' %}
{% load static %}
{% block title %}همکاری با ما{% endblock %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    <!-- ======================= Top Breadcrubms ======================== -->
    <div class="gray py-3">
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb text-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home_page_view' %}">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ارزیابی فروشندگان برای همکاری با
                                فروشگاه ریحانه
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================= Top Breadcrubms ======================== -->
    <!-- ======================= FAQ's Detail ======================== -->
    <section class="middle">
        <div class="container">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row align-items-start">
                    <!-- Single -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="card-wrap bg-light-success rounded mb-4">
                            <div class="card-wrap-header px-3 py-2 br-bottom d-flex align-items-center justify-content-between">
                                <div class="card-header-flex">
                                    <h4 class="fs-md ft-bold mb-1">فروشنده عزیز</h4>
                                    <p class="text-inverse text-center">
                                        فروش تو فروشگاه ریحانه به دلیل وجود چارچوبهای سخت تر و تخصصی در حوزه مد و پوشاک،
                                        چند مرحله ارزیابیِ بیشتر داره و قوانین بیشتری هم شاملش میشه.
                                        بعد از پر کردن کامل فرم زیر و ثبت درخواست همکاری، کارشناسان فروشگاه ریحانه
                                        اطلاعات
                                        رو ارزیابی میکنن و در صورت مثبت بودن باهاتون تماس میگیرن و نیاز هست که شرکت یا
                                        تولیدی یا کارگاهتون وهمچنین کیفیت و تنوع محصولاتتون از نزدیک مورد بررسی قرار
                                        بگیره و درباره توانایی و پتانسیل تولید/عرضه شما مذاکراتی صورت بگیره.
                                    </p>
                                </div>
                            </div>
                            <div class="card-wrap-body bg-light-danger px-3 py-3">
                                <div class="pay-card mb-3">
                                    <p class="ft-bold text-md-center text-dark">به اینکه شما رو در کنار خودمون داریم
                                        افتخار می کنیم</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}