{% extends 'shared/layout.html' %}
{% load poll_extras %}
{% load thumbnail %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="fa" dir="rtl">
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Themezhub"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>فروشگاه لباس ریحانه</title>
    </head>
    <body>
    <!-- ============Preloader - style you can find in spinners.css============ -->
    <div class="preloader"></div>
    <!-- ============================ Hero Banner  Start================================== -->
    <div class="home-slider hide-navigation margin-bottom-0">
        <!-- ============================Slide================================== -->
        {% for slider in sliders %}
            <div data-background-image="{{ slider.slider_image.url }}" class="item" data-overlay="3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="home-slider-container">
                                <!-- ============================Slide Title================================= -->
                                <div class="home-slider-desc text-center">
                                    <div class="home-slider-title mb-4">
                                        <h5 class="text-light ft-medium lg-heading">{{ slider.title }}</h5>
                                        <h1 class="mb-1 ft-medium mb-md-3">{{ slider.description }}</h1>
                                    </div>
                                </div>
                                <!-- ============================End Slide Title================================= -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- ============================ Hero Banner End ================================== -->
    <!-- =======================Start Category Style ======================== -->
    <section class="p-0">
        <div class="container">
            <div class="row overlio">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <div class="cats_caption_wrap">
                        <div class="cats_caption_thumb mb-2">
                            <a href="{% url 'product_list_page_view' %}" class="d-block"><img
                                    src="{% static 'img/a-4.png' %}" class="img-fluid rounded"
                                    alt=""/></a>
                        </div>
                        <div class="cats_caption text-center">
                            <h4 class="m-0">زنانه</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <div class="cats_caption_wrap">
                        <div class="cats_caption_thumb mb-2">
                            <a href="{% url 'product_list_page_view' %}" class="d-block"><img
                                    src="{% static 'img/a-5.png' %}" class="img-fluid rounded"
                                    alt=""/></a>
                        </div>
                        <div class="cats_caption text-center">
                            <h4 class="m-0">مردانه</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <div class="cats_caption_wrap">
                        <div class="cats_caption_thumb mb-2">
                            <a href="{% url 'product_list_page_view' %}" class="d-block"><img
                                    src="{% static 'img/a-12.png' %}" class="img-fluid rounded"
                                    alt=""/></a>
                        </div>
                        <div class="cats_caption text-center">
                            <h4 class="m-0">دخترانه</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <div class="cats_caption_wrap">
                        <div class="cats_caption_thumb mb-2">
                            <a href="{% url 'product_list_page_view' %}" class="d-block"><img
                                    src="{% static 'img/a-6.png' %}" class="img-fluid rounded"
                                    alt=""/></a>
                        </div>
                        <div class="cats_caption text-center">
                            <h4 class="m-0">پسرانه</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================End Category Style ======================== -->
    <!-- ======================= Product List ======================== -->
    <section class="middle">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h2 class="off_title">جدیدترین محصولات</h2>
                        <h3 class="ft-bold pt-3">جدیدترین محصولات ما</h3>
                    </div>
                </div>
            </div>
            {% for group in latest_products %}
                <div class="row align-items-center rows-products">
                    {% for product in group %}
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="product_grid card b-0">
                                <div class="badge bg-success text-white position-absolute ft-regular ab-right  text-upper">
                                    جدیدترین
                                </div>
                                <button class="snackbar-wishlist btn btn_love position-absolute ab-left"><i
                                        class="far fa-heart"></i></button>
                                <div class="card-body p-0">
                                    <div class="shop_thumb position-relative">
                                        <a class="card-img-top d-block overflow-hidden"
                                           href="{% url 'product_detail_page_view' slug=product.slug %}">
                                            <img class="card-img-top" src="{{ product.front_image.url }}"
                                                 alt="{{ product.title }}">
                                        </a>
                                        <div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
                                            <div class="edlio">
                                                <a href="#"
                                                   data-toggle="modal" data-target="#{{ product.slug }}"
                                                   class="text-white fs-sm ft-medium">
                                                    <i class="fas fa-eye ml-1"></i>مشاهده سریع جزییات</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                    <div class="text-left">
                                        <div class="text-center">
                                            <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a
                                                    href="{% url 'product_detail_page_view' slug=product.slug %}">{{ product.title }}</a>
                                            </h5>
                                            <div class="elis_rty"><span
                                                    class="ft-bold fs-md text-dark">{{ product.price | three_digits_currency }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- ======================= Product View Modal ======================== -->
    {% for product in main_product %}
<div class="modal fade lg-modal" id="{{ product.slug }}" tabindex="-1" role="dialog" aria-labelledby="quickviewmodal"
     aria-hidden="true">
    <div class="modal-dialog modal-xl login-pop-form" role="document">
        <div class="modal-content" id="{{ product.slug }}">
            <div class="modal-headers">
                <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ti-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="quick_view_wrap">
                    <div class="quick_view_thmb">
                        <div class="quick_view_slide">
                            <div class="single_view_slide">
                                {% if product.front_image %}
                                    {% thumbnail product.front_image "420x550" quality=90 crop='center' as im %}
                                        <img class="img-fluid" src="{{ im.url }}" alt="{{ product.title }}">
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="img-fluid" src="{% static 'img/product/default-product.jpg' %}"
                                         alt="{{ product.title }}">
                                {% endif %}
                            </div>
                            <div class="single_view_slide">
                                {% if product.back_image %}
                                    {% thumbnail product.back_image "420x550" quality=90 crop='center' as im %}
                                        <img class="img-fluid" src="{{ im.url }}" alt="{{ product.title }}">
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="img-fluid" src="{% static 'img/product/default-product.jpg' %}"
                                         alt="{{ product.title }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="quick_view_capt">
                        <div class="prd_details">
                            <div class="prt_01 mb-1">
                                <span class="text-light bg-info rounded px-2 py-1">لباس</span></div>
                            <div class="prt_02 mb-2">
                                <h4 class="ft-bold mb-1">{{ product.title }}</h4>
                                <div class="text-left">
                                    <div class="elis_rty text-right"><span
                                            class="ft-bold theme-cl fs-lg ml-2">قیمت: {{ product.price | three_digits_currency }}</span><span
                                            class="ft-regular text-danger bg-light-danger py-1 px-2 fs-sm"> تمام شده </span>
                                    </div>
                                </div>
                            </div>
                            <div class="prt_03 mb-3">
                                <h5>توضیحات : </h5>
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="prt_02 mb-2">
                                <div class="text-left">
                                    <div class="elis_rty text-right">
                                        <span class="theme-cl text-dark fs-lg ml-2">برند: </span>
                                        <span class="ft-bold text-secondary  py-1 px-2 fs-sm">
                                            {{ product.brand }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="prt_02 mb-2">
                                <div class="text-left">
                                    <div class="elis_rty text-right">
                                        <span class="theme-cl text-dark fs-lg ml-2">رنگ: </span>
                                        <span class="ft-bold text-secondary py-1 px-2 fs-sm">
                                            {{ product.color }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="prt_02 mb-2">
                                <div class="text-left">
                                    <div class="elis_rty text-right">
                                        <span class="theme-cl text-dark fs-lg ml-2">سایز: </span>
                                        <span class="ft-bold text-secondary  py-1 px-2 fs-sm">
                                            {{ product.size }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="prt_05 mb-4">
                                <div class="form-row mb-7">
                                    <div class="col-12 col-lg-auto">
                                        <!-- ========================Quantity================== -->
                                        <select class="mb-2 custom-select">
                                            <option value="1" selected="">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-lg">
                                        <!-- ==================Submit================ -->
                                        <button type="submit" class="btn btn-block custom-height bg-dark mb-2">
                                            <i class="lni lni-shopping-basket ml-2"></i>افزودن به سبد خرید
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="prt_06">
                                <p class="mb-0 d-flex align-items-center">
                                    <span class="ml-4">اشتراک گذاری:</span>
                                    <a class="d-inline-flex align-items-center justify-content-center p-3 gray circle fs-sm text-muted ml-2"
                                       href="#!">
                                        <i class="fab fa-twitter position-absolute"></i>
                                    </a>
                                    <a class="d-inline-flex align-items-center justify-content-center p-3 gray circle fs-sm text-muted ml-2"
                                       href="#!">
                                        <i class="fab fa-facebook-f position-absolute"></i>
                                    </a>
                                    <a class="d-inline-flex align-items-center justify-content-center p-3 gray circle fs-sm text-muted"
                                       href="#!">
                                        <i class="fab fa-pinterest-p position-absolute"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
    <!-- =======================Start Deals of The Day ====================== -->
    <section class="bg-cover" style="background:url({% static 'img/banner-i.jpg' %}) no-repeat;" data-overlay="5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
                    <div class="deals_wrap text-center">
                        <h4 class="ft-medium text-light">تا %40 تخفیف بگیرید</h4>
                        <h2 class="ft-bold text-light">فقط مجموعه های تابستانی</h2>
                        <p class="text-light">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                            شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                            جامعه و متخصصان را می طلبد</p>
                        <div class="mt-5">
                            <a href="#" class="btn btn-outline-light stretched-link"> خرید کنید ( :</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================End Deals of The Day ====================== -->
    <!-- ======================= Blog Start ============================ -->
    <section class="space min">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h2 class="off_title">آخرین خبرها</h2>
                        <h3 class="ft-bold pt-3">به روز رسانی های جدید</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="_blog_wrap">
                        <div class="_blog_thumb mb-2">
                            <a href="#" class="d-block"><img src="{% static 'img/bl-1.png' %}" class="img-fluid rounded"
                                                             alt=""/></a>
                        </div>
                        <div class="_blog_caption">
                            <span class="text-muted">26 دی 1400</span>
                            <h5 class="bl_title"><a href="#">بیایید شروع به فروش در این تعطیلات تابستانی کنیم.</a></h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <a href="#" class="text-dark fs-sm">ادامه مطلب...</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="_blog_wrap">
                        <div class="_blog_thumb mb-2">
                            <a href="#" class="d-block"><img src="{% static 'img/bl-2.png' %}" class="img-fluid rounded"
                                                             alt=""/></a>
                        </div>
                        <div class="_blog_caption">
                            <span class="text-muted">17 دی 1400</span>
                            <h5 class="bl_title"><a href="#">بیایید شروع به فروش در این تعطیلات تابستانی کنیم.</a></h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <a href="#" class="text-dark fs-sm">ادامه مطلب...</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="_blog_wrap">
                        <div class="_blog_thumb mb-2">
                            <a href="#" class="d-block"><img src="{% static 'img/bl-3.png' %}" class="img-fluid rounded"
                                                             alt=""/></a>
                        </div>
                        <div class="_blog_caption">
                            <span class="text-muted">10 دی 1400</span>
                            <h5 class="bl_title"><a href="#">بیایید شروع به فروش در این تعطیلات تابستانی کنیم.</a></h5>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <a href="#" class="text-dark fs-sm">ادامه مطلب...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================= Blog End ============================ -->
    <!-- ======================= Instagram Start ============================ -->
    <section class="p-0">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h2 class="off_title">گالری اینستاگرام</h2>
                        <span class="fs-lg ft-bold theme-cl pt-3">your_page@</span>
                        <h3 class="ft-bold lh-1">از اینستاگرام</h3>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-1.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-2.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-3.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-4.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-7.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-5.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-6.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-8.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
    </html>
{% endblock %}
<!-- =======================End Content Page============================= -->