{% extends 'shared/layout.html' %}
{% load static %}
{% load poll_extras %}
{% load date_time_tags %}
{% load thumbnail %}
{% block title %}فروشگاه لباس ریحانه{% endblock %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    <!-- ============================ Hero Banner  Start================================== -->
    <div class="home-slider hide-navigation margin-bottom-0">
        <!-- ============================Slide================================== -->
        {% for slider in sliders %}
            <div data-background-image="{{ slider.slider_image.url }}" class="item" data-overlay="3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="home-slider-container">
                                <!-- ============================Slide Title================================= -->
                                <div class="home-slider-desc text-center">
                                    <div class="home-slider-title mb-4">
                                        <h5 class="text-light ft-medium lg-heading">{{ slider.title }}</h5>
                                        <h1 class="mb-1 ft-medium mb-md-3">{{ slider.description }}</h1>
                                    </div>
                                </div>
                                <!-- ============================End Slide Title================================= -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- ======================= Latest Products ======================== -->
    <section class="middle">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h2 class="off_title">جدیدترین محصولات</h2>
                        <h3 class="ft-bold pt-3">جدیدترین محصولات ما</h3>
                    </div>
                </div>
            </div>
            {% for group in latest_products %}
                <div class="row align-items-center rows-products">
                    {% for product in group %}
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="product_grid card b-0">
                                <div class="badge bg-success text-white position-absolute ft-regular ab-right  text-upper">
                                    جدیدترین
                                </div>
                                <a href="#">
                                    <button class="snackbar-wishlist btn btn_love position-absolute ab-left">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </a>
                                <div class="card-body p-0">
                                    <div class="shop_thumb position-relative">
                                        <a class="card-img-top d-block overflow-hidden"
                                           href="{% url 'product_detail_page_view' slug=product.slug %}">
                                            {% thumbnail product.front_image "265x390" quality=90 crop='center' as im %}
                                                <img class="card-img-top" src="{{ im.url }}"
                                                     alt="{{ product.title }}">
                                            {% endthumbnail %}
                                        </a>
                                        <div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
                                            <div class="edlio">
                                                <a href="#"
                                                   data-toggle="modal" data-target="#{{ product.slug }}"
                                                   class="text-white fs-sm ft-medium">
                                                    <i class="fas fa-eye ml-1"></i>مشاهده سریع جزییات</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                    <div class="text-left">
                                        <div class="text-center">
                                            <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a
                                                    href="{% url 'product_detail_page_view' slug=product.slug %}">{{ product.title }}</a>
                                            </h5>
                                            <div class="elis_rty"><span
                                                    class="ft-bold fs-md text-dark">{{ product.price | three_digits_currency }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- ======================= The most visited products ======================== -->
    <section class="middle">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h2 class="off_title">پربازدیدترین محصولات</h2>
                        <h3 class="ft-bold pt-3">پربازدیدترین محصولات ما</h3>
                    </div>
                </div>
            </div>
            {% for group in most_visit_products %}
                <div class="row align-items-center rows-products">
                    {% for product in group %}
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="product_grid card b-0">
                                <div class="badge bg-success text-white position-absolute ft-regular ab-right  text-upper">
                                    پربازدیدترین
                                </div>
                                <a href="#">
                                    <button class="snackbar-wishlist btn btn_love position-absolute ab-left">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </a>
                                <div class="card-body p-0">
                                    <div class="shop_thumb position-relative">
                                        {% thumbnail product.front_image "265x396" quality=90 crop='center' as im %}
                                            <a class="card-img-top d-block overflow-hidden"
                                               href="{% url 'product_detail_page_view' slug=product.slug %}">
                                                <img class="card-img-top" src="{{ im.url }}"
                                                     alt="{{ product.title }}"></a>
                                        {% endthumbnail %}
                                        <div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
                                            <div class="edlio">
                                                <a href="#"
                                                   data-toggle="modal" data-target="#{{ product.slug }}"
                                                   class="text-white fs-sm ft-medium">
                                                    <i class="fas fa-eye ml-1"></i>مشاهده سریع جزییات</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                    <div class="text-left">
                                        <div class="text-center">
                                            <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a
                                                    href="{% url 'product_detail_page_view' slug=product.slug %}">{{ product.title }}</a>
                                            </h5>
                                            <div class="elis_rty"><span
                                                    class="ft-bold fs-md text-dark">{{ product.price | three_digits_currency }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- ======================= Product View Modal ======================== -->
    {% for product in main_product %}
        {% include 'shared/modal-product.html' with product=product %}
    {% endfor %}
    <!-- =======================Start Deals of The Day ====================== -->
    <section class="bg-cover" style="background:url({% static 'img/banner-i.jpg' %}) no-repeat;" data-overlay="5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
                    <div class="deals_wrap text-center">
                        <h4 class="ft-medium text-light">تا %40 تخفیف بگیرید</h4>
                        <h2 class="ft-bold text-light">فقط مجموعه های تابستانی</h2>
                        <p class="text-light">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                            شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                            جامعه و متخصصان را می طلبد</p>
                        <div class="mt-5">
                            <a href="#" class="btn btn-outline-light stretched-link"> خرید کنید ( :</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================= The best seller Products ======================== -->
    <section class="middle">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h2 class="off_title">پرفروش ترین محصولات</h2>
                        <h3 class="ft-bold pt-3">پرفروش ترین محصولات ما</h3>
                    </div>
                </div>
            </div>
            {% for group in most_bought_products %}
                <div class="row align-items-center rows-products">
                    {% for product in group %}
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                            <div class="product_grid card b-0">
                                <div class="badge bg-success text-white position-absolute ft-regular ab-right  text-upper">
                                    پرفروش ترین
                                </div>
                                <a href="#">
                                    <button class="snackbar-wishlist btn btn_love position-absolute ab-left">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </a>
                                <div class="card-body p-0">
                                    <div class="shop_thumb position-relative">
                                        <a class="card-img-top d-block overflow-hidden"
                                           href="{% url 'product_detail_page_view' slug=product.slug %}">
                                            {% thumbnail product.front_image "265x390" quality=90 crop='center' as im %}
                                                <img class="card-img-top" src="{{ im.url }}"
                                                     alt="{{ product.title }}">
                                            {% endthumbnail %}
                                        </a>
                                        <div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
                                            <div class="edlio">
                                                <a href="#"
                                                   data-toggle="modal" data-target="#{{ product.slug }}"
                                                   class="text-white fs-sm ft-medium">
                                                    <i class="fas fa-eye ml-1"></i>مشاهده سریع جزییات</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
                                    <div class="text-left">
                                        <div class="text-center">
                                            <h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a
                                                    href="{% url 'product_detail_page_view' slug=product.slug %}">{{ product.title }}</a>
                                            </h5>
                                            <div class="elis_rty"><span
                                                    class="ft-bold fs-md text-dark">{{ product.price | three_digits_currency }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- ======================= Blog Start ============================ -->
    <section class="space min">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h2 class="off_title">آخرین خبرها</h2>
                        <h3 class="ft-bold pt-3">به روز رسانی های جدید</h3>
                    </div>
                </div>
            </div>
            {% for group in latest_articles %}
                <div class="row">
                    {% for article in group %}
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="_blog_wrap">
                                <div class="_blog_thumb mb-2">
                                    {% if article.image %}
                                        {% thumbnail article.image "550x367" quality=90 crop='center' as im %}
                                            <img class="img-fluid rounded" src="{{ im.url }}" alt="{{ article.title }}">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img class="card-img-top" src="{% static 'img/default-blog.png' %}"
                                             alt="{{ article.title }}">
                                    {% endif %}
                                </div>
                                <div class="_blog_caption">
                                    <span class="text-muted">{{ article.create_date|to_date_string_format }}</span>
                                    <h5 class="bl_title"><a href="{% url 'articles_detail_page_view' pk=article.pk %}">
                                        {{ article.title }}</a>
                                    </h5>
                                    <p class="text-secondary">{{ article.short_description }}
                                        {% if article.author is not None %}
                                            <p class="text-dark"> نویسنده:{{ article.author }}</p>
                                        {% endif %}
                                    <span>
                                    <a href="{% url 'articles_detail_page_view' pk=article.id %}"
                                       class="text-dark fs-sm">ادامه مطلب...</a>
                                </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- ======================= Blog End ============================ -->
    <!-- ======================= Instagram Start ============================ -->
    <section class="p-0">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h2 class="off_title">گالری اینستاگرام</h2>
                        <span class="fs-lg ft-bold theme-cl pt-3">your_page@</span>
                        <h3 class="ft-bold lh-1">از اینستاگرام</h3>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-1.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-2.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-3.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-4.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-7.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-5.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-6.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="_insta_wrap">
                        <div class="_insta_thumb">
                            <a href="javascript:void(0);" class="d-block"><img src="{% static 'img/i-8.png' %}"
                                                                               class="img-fluid" alt=""/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
