{% extends 'shared/layout.html' %}
{% load static %}
{% block title %}سوالات متداول{% endblock %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    <!-- ======================= Top Breadcrubms ======================== -->
    <div class="gray py-3">
        <div class="container">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb text-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home_page_view' %}">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active" aria-current="page">سوالات متداول</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================= Top Breadcrubms ======================== -->
    <!-- ======================= FAQ's Detail ======================== -->
    <section class="middle">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="sec_title position-relative text-center">
                        <h2 class="off_title">بخش پرسش و پاسخ</h2>
                        <h3 class="ft-bold pt-3">سوالات متداول</h3>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-10 col-lg-11 col-md-12 col-sm-12">
                    {% for group in question_common_group %}
                        <div class="d-block position-relative border rounded py-3 px-3 mb-4">
                            <h4 class="ft-medium">{{ group.title }} :</h4>
                            <div id="accordion_{{ group.id }}" class="accordion">
                                {% for question in group.questioncommon_set.all %}
                                    <div class="card">
                                        <div class="card-header" id="h{{ question.id }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#ord{{ question.id }}"
                                                        aria-expanded="true" aria-controls="ord{{ question.id }}">
                                                    {{ question.question }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="ord{{ question.id }}" class="collapse show" aria-labelledby="h{{ question.id }}"
                                             data-parent="#accordion_{{ group.id }}">
                                            <div class="card-body">
                                                {{ question.response }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- ======================= FAQ's End ======================== -->
{% endblock %}
